* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: #E5E5E5;
}

.grid {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "cabeca cabeca cabeca cabeca"
    ". post menu ."
    "rodape rodape rodape rodape";
    column-gap: 50px;
    row-gap: 40px;
    /* Conferir depois se este template é o melhor para este caso */
    grid-template-columns: auto;
    grid-template-rows: 4.4rem 1fr 4.4rem;
}







.header {
    grid-area: cabeca;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: white;
    grid-template-areas: ". logo . botoes .";
    grid-template-columns: 50px min-content auto max-content 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}
.header>img {
    grid-area: logo;
    margin-left: 4rem;
}
.header>div {
    grid-area: botoes;
    width: max-content;
    margin-right: 4rem;
}
.botoes>a {
    color: #545454;
    text-decoration: none;
    margin: 1rem;
}






.container-posts {
    grid-area: post;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    max-width: min-content;
    max-height: min-content;
    margin-left: 4rem;
}
.cards {
    display: flex;
    flex-direction: column;
    max-width: 696px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.cards>img {
    width: 696px;
}

.cards>h1{
    font-weight: bold;
    font-size: 24px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.cards>span {
    font-size: 12px;
    color: #929292;
    padding: 1rem;
}
.cards p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
    margin: 1rem;
}
.botao-post {
    width: max-content;
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 20px;
    align-self: flex-end;
    padding: 0.5rem;
    margin: 1rem;
}
.botao-post a {
    color: #545454;
    font-size: 14px;
    text-decoration: none;
    padding: 1rem;
}






.menu {
    grid-area: menu;
    width: 380px;
    height: min-content;
    margin-right: 4rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.menu>form>input {
    font-size: 14px;
    width: 90%;
    margin: 20px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem;
}

.categorias h1{
    font-size: 18px;
    font-weight: bold;
    border-left: 2px solid #FE0078;
    padding: 1rem;
    margin: 1rem;
}

.categorias p {
    margin: 1rem;
    font-size: 14px;
    line-height: 25px;
    color: #545454;
    padding: 1rem;
    border-bottom: 2px dashed #EEEEEE;
}
.categorias img {
    /* Tentar implementar de outra maneira depois */
    width: 340px;
    height: 240px;
    margin: 0 2rem 1rem 1rem;
}


.footer {
    grid-area: rodape;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background: #222222;
}
